<div>Interact</div>
<div class="drag-drop-container">
    {{#drag-drop/set items
                     isSortable=true
                     itemSortKeyProperty="key"
                     parentSelector=".drag-drop-container"
                     itemClass="draggable"
                     shouldAnimate=true
                     as |item|}}
        <div class="tile">{{item.text}}</div>
    {{/drag-drop/set}}
</div>

<div>View Data</div>
<div>
    {{#each items as |item|}}
        <span>{{item.key}}</span>
    {{/each}}
</div>